{% extends "base.html" %} 
{% block title %}Diets{% endblock title %} 
{% block body %}
<div class="container px-0 m-0 position-relative">
  <img src="../static/img/engin-akyurt-OKHjc_Ip0KI-unsplash.jfif" class="position-relative" style="height: 300px; width: 109.1%;" />
  <h1 class="position-absolute text-white text-center w-100" style="top: 110px;">Keto Diet</h1>
  <div class="position-absolute d-flex flex-direction-column align-items-center" style="top: 360px; background-color: antiquewhite; width: 211.4vh;">
    <div class="container my-5 px-0">
      <p class="text-align-left" style="padding: 5px 50px;">The Keto Diet is a low-carb, high-fat diet that aims to put your body into a state of ketosis, where it burns fat for energy instead of carbohydrates. Common foods include meats, fatty fish, eggs, butter, nuts, and low-carb vegetables. This diet can aid in weight loss and improve blood sugar levels.</p>
      <h4 class="text-align-left" style="padding: 5px 50px;">What do I eat on the Keto Diet?</h4>
      <p class="text-align-left" style="padding: 5px 50px;">
        There are several versions of the ketogenic diet, and what you eat depends on the type. They include:
        <ul class="text-align-left" style="padding: 5px 50px;">
            <li><strong>Ketogenic diet (SKD):</strong> This is a very low-carb, moderate-protein, and high-fat diet. It typically contains 75% fat, 20% protein, and only 5% carbs.</li>
            <li><strong>Cyclical ketogenic diet (CKD):</strong> This diet involves periods of higher-carb refeeds, such as 5 ketogenic days followed by 2 high-carb days.</li>
            <li><strong>Targeted ketogenic diet (TKD):</strong> This diet allows you to add carbs around workouts.</li>
            <li><strong>High-protein ketogenic diet:</strong> This is similar to a standard ketogenic diet, but includes more protein. The ratio is often 60% fat, 35% protein, and 5% carbs.</li>
        </ul>
      </p>
    </div>
    <div class="container my-5 px-0 justify-self-end align-items-center">
      <h2 class="text-align-right text-center" style="padding: 5px 50px; margin-right: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">What meals look like in this diet?</h2>
      <div id="carouselExampleAutoplaying" class="carousel slide" style="margin: 0 40px; height: 400px; width: 600px;" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="../static/img/eduardo-roda-lopes-mNefYU7uRbk-unsplash.jfif" class="d-block w-100" style="height: 400px; width: 600px;" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="../static/img/markus-winkler-MnrqPQuQqQk-unsplash.jfif" class="d-block w-100" style="height: 400px; width: 600px;" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="../static/img/nadine-primeau-n4RrgczkLJM-unsplash.jfif" class="d-block w-100" style="height: 400px; width: 600px;" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container px-0 m-0 position-relative">
  <img src="../static/img/luke-michael-1cWZgnBhZRs-unsplash.jfif" class="position-relative z-index-1" style="height: 300px; width: 109.1%; top: 720px;" />
  <h1 class="position-absolute text-white text-center w-100" style="top: 840px;">Mediterranean Diet</h1>
  <div class="position-absolute d-flex flex-direction-column align-items-center" style="top: 1090px; background-color: antiquewhite; width: 211.4vh;">
    <div class="container my-5 px-0">
      <p class="text-align-left" style="padding: 5px 50px;">The Mediterranean Diet emphasizes plant-based foods like fruits, vegetables, whole grains, nuts, and olive oil, alongside moderate amounts of fish, poultry, and dairy. It limits red meat and sweets. This diet is rich in antioxidants, fiber, and healthy fats like omega-3s, promoting heart health, weight management, and reducing the risk of chronic diseases. It's inspired by traditional eating patterns of countries bordering the Mediterranean Sea.</p>
      <h4 class="text-align-left" style="padding: 5px 50px;">What do I eat on the Mediterranean Diet?</h4>
      <p class="text-align-left" style="padding: 5px 50px;">
        You can base your diet on these foods:
        <ul class="text-align-left" style="padding: 5px 50px;">
          <li><strong>Vegetables:</strong> tomatoes, broccoli, kale, spinach, onions, cauliflower, carrots, Brussels sprouts, cucumbers, potatoes, sweet potatoes, turnips.</li>
          <li><strong>Fruits:</strong> apples, bananas, oranges, pears, strawberries, grapes, dates, figs, melons, peaches.</li>
          <li><strong>Nuts, seeds, and nut butters:</strong> almonds, walnuts, macadamia nuts, hazelnuts, cashews, sunflower seeds, pumpkin seeds, almond butter, peanut butter.</li>
          <li><strong>Legumes:</strong> beans, peas, lentils, pulses, peanuts, chickpeas.</li>
          <li><strong>Whole grains:</strong> whole wheat, brown rice, barley, buckwheat, quinoa, rye, corn, whole grain bread, whole grain pasta.</li>
          <li><strong>Fish and Seafood:</strong> fish, shrimp, clams, mussels, oysters, crab, lobster, scallops, squid, octopus, sardines, anchovies, tuna, salmon, mackerel, trout, herring.</li>
          <li><strong>Poultry:</strong> chicken, turkey, duck, goose, quail, pheasant.</li>
          <li><strong>Dairy:</strong> cheese, yogurt, milk, kefir.</li>
          <li><strong>Herbs and spices:</strong> basil, mint, rosemary, sage, nutmeg, cinnamon, pepper, salt, garlic, ginger, turmeric, cumin, coriander, parsley, dill, oregano, thyme, paprika, saffron.</li>
          <li><strong>Healthy fats:</strong> olive oil, olives, avocados, avocado oil, flaxseed oil, walnut oil, coconut oil, coconut, chia seeds.</li>
        </ul>
      </p>
    </div>
    <div class="container position-relative my-5 px-0" style="top: -125px;">
      <h2 class="text-align-right text-center" style="padding: 5px 50px; margin-right: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">What meals look like in this diet?</h2>
      <div id="carouselExampleAutoplaying" class="carousel slide" style="margin: 0 40px; height: 400px; width: 600px;" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="../static/img/farhad-ibrahimzade-eKsi3xW7fCA-unsplash.jfif" class="d-block w-100" style="height: 400px; width: 600px;" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="../static/img/brooke-lark-AgD6OBNXF0Q-unsplash.jfif" class="d-block w-100" style="height: 400px; width: 600px;" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="../static/img/calum-lewis-8Nc_oQsc2qQ-unsplash.jfif" class="d-block w-100" style="height: 400px; width: 600px;" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container px-0 m-0 position-relative">
  <img src="../static/img/dan-gold-4_jhDO54BYg-unsplash.jfif" class="position-relative z-index-1" style="height: 300px; width: 109.1%; top: 1710px;" />
  <h1 class="position-absolute text-white text-center w-100" style="top: 1830px;">High-Protein Diet</h1>
  <div class="position-absolute d-flex flex-direction-column align-items-center" style="top: 2080px; background-color: antiquewhite; width: 211.4vh;">
    <div class="container my-5 px-0">
      <p class="text-align-left" style="padding: 5px 50px;">A High-Protein Diet focuses on increasing protein intake while moderating carbohydrates and fats. It typically includes lean meats, poultry, fish, eggs, dairy products, legumes, and protein supplements. This diet aims to support muscle growth, repair, and satiety, aiding in weight loss or maintenance. However, excessive protein intake may strain kidneys and increase risk of certain health issues if not balanced with other nutrients.</p>
      <h4 class="text-align-left" style="padding: 5px 50px;">What do I eat on the High-Protein Diet?</h4>
      <p class="text-align-left" style="padding: 5px 50px;">
        There is a wide variety of protein sources that can help people increase their dietary intake. When eating a high protein diet for weight loss, it may be beneficial to prioritize items with a high protein content ratio to calories.
        <br>
        Good options include:
        <ul class="text-align-left" style="padding: 5px 50px;">
          <strong>Vegetables, grains, and plant-based</strong>
          <li>brocolli</li>
          <li>spinach</li>
          <li>tofu</li>
          <li>tempeh</li>
          <li>seitan</li>
          <li>pumpkin seeds</li>
          <li>peanuts</li>
          <li>almonds</li>
          <li>lentils</li>
          <li>quinoa</li>
          <li>chickpeas</li>
          <li>oats</li>
        </ul>
        <div style="display: inline-flex;">
          <ul class="text-align-left" style="padding: 5px 50px; width: max-content;">
            <strong>Lean meats and eggs</strong>
            <li>lean cuts of beef</li>
            <li>chicken breast without the skin</li>
            <li>turkey breast without the skin</li>
            <li>lean pork</li>
            <li>bison</li>
            <li>venison and other game meats</li>
            <li>eggs</li>
          </ul>
          <ul class="text-align-left" style="padding: 5px 50px;">
            <strong>Dairy and alternatives</strong>
            <li>Greek yogurt</li>
            <li>cow's milk</li>
            <li>cottage cheese</li>
            <li>soy milk</li>
            <li>soy yogurt</li>
          </ul>
          <ul class="text-align-left" style="padding: 5px 50px;">
            <strong>Fish</strong>
            <li>salmon</li>
            <li>haddock</li>
            <li>tuna</li>
            <li>halibut</li>
          </ul>
        </div>
      </p>
    </div>
    <div class="container position-relative my-5 px-0" style="top: -260px;">
      <h2 class="text-align-right text-center" style="padding: 5px 50px; margin-right: 125px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">What meals look like in this diet?</h2>
      <div id="carouselExampleAutoplaying" class="carousel slide" style="height: 400px; width: 600px;" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="../static/img/joseph-gonzalez-QaGDmf5tMiE-unsplash.jfif" class="d-block w-100" style="height: 400px; width: 600px;" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="../static/img/food-photographer-jennifer-pallian-8pUjhBm4cLw-unsplash.jfif" class="d-block w-100" style="height: 400px; width: 600px;" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="../static/img/carissa-gan-YlwOMESLPQo-unsplash.jfif" class="d-block w-100" style="height: 400px; width: 600px;" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container px-0 m-0 position-relative">
  <img src="../static/img/649056260d4a5e001dc58cf6.jfif" class="position-relative z-index-1" style="height: 300px; width: 109.1%; top: 2960px;" />
  <h1 class="position-absolute text-white text-center w-100" style="top: 3080px;">High-Fiber Diet</h1>
  <div class="position-absolute d-flex flex-direction-column align-items-center" style="top: 3330px; background-color: antiquewhite; width: 211.4vh;">
    <div class="container my-5 px-0">
      <p class="text-align-left" style="padding: 5px 50px;">A High-Fiber Diet prioritizes foods rich in dietary fiber, such as fruits, vegetables, whole grains, nuts, and seeds. It promotes digestive health, regulates blood sugar levels, and aids in weight management by promoting feelings of fullness. This diet lowers cholesterol and reduces the risk of heart disease, stroke, and certain cancers. Adequate water intake is crucial to support fiber's beneficial effects on digestion.</p>
      <h4 class="text-align-left" style="padding: 5px 50px;">What do I eat on the High-Fiber Diet?</h4>
      <p class="text-align-left" style="padding: 5px 50px;">
        You've probably already been eating foods that are high in fiber. But just in case — here are a few of our top picks for high fiber foods to add to your plate.
        <br>
        <ul class="text-align-left" style="padding: 5px 50px;">
          <strong>Lentils</strong>
          <li>20.5 gramsTrusted Source of fiber per cup, uncooked</li>
          <li>10.7 grams of fiber in every 100 grams</li>
          <p>Lentils are a great source of nutrients and an even better source of dietary fiber. Just 1 cup of uncooked lentils nets over 20 grams of fiber, which makes them great for batch recipes like curries, stews, and soups.</p>
        </ul>
        <ul class="text-align-left" style="padding: 5px 50px;">
          <strong>Oats</strong>
          <li>16.5 gramsTrusted Source of fiber per cup, uncooked</li>
          <li>10.6 grams of fiber in every 100 grams</li>
          <p>Oats are another quick, easy, and affordable source of dietary fiber, especially for breakfast. But even if you’re not a fan of oats in the morning, you can still use them in other baking recipes, like breads, muffins, and more.</p>
        </ul>
        <ul class="text-align-left" style="padding: 5px 50px;">
          <strong>Black beans</strong>
          <li>15 gramsTrusted Source of fiber per cup, cooked</li>
          <li>8.7 grams of fiber in every 100 grams</li>
          <p>Black beans are a staple in plant-based diets because they're not just high in fiber — they're also a great source of protein. One cup of cooked black beans has 15 grams of fiber, which is around half the recommended daily amount.</p>
        </ul>
        <ul class="text-align-left" style="padding: 5px 50px;">
          <strong>Kidney beans</strong>
          <li>13.1 gramsTrusted Source of fiber per cup, cooked</li>
          <li>7.4 grams of fiber in every 100 grams</li>
          <p>Like black beans, kidney beans are also high in vitamins, minerals, protein, and fiber. Kidney beans are versatile and can be found in a variety of recipes, like vegetarian chili, red beans and rice, and even cold salads.</p>
        </ul>
      </p>
    </div>
    <div class="container position-relative my-5 px-0" style="top: -260px;">
      <h2 class="text-align-right text-center" style="padding: 5px 50px; margin-right: 50px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">What meals look like in this diet?</h2>
      <div id="carouselExampleAutoplaying" class="carousel slide" style="margin: 0 40px; height: 400px; width: 600px;" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="../static/img/rachel-park-hrlvr2ZlUNk-unsplash.jfif" class="d-block w-100" style="height: 400px; width: 600px;" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="../static/img/images.jfif" class="d-block w-100" style="height: 400px; width: 600px;" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="../static/img/brooke-lark-oGCF9yywFCM-unsplash.jfif" class="d-block w-100" style="height: 400px; width: 600px;" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="position-relative" style="top: 4160px; text-align: center; font-size: larger; padding-bottom: 20px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><p><strong>More Diets will be added soon...</strong></p></div>
{% endblock body %}